// :host {
//     position: relative;
//     width: 100%;
//     // height: 100%;
//     max-width: min(1392px, 100vw);
//     display: flex;
//     flex-direction: column;
//     flex: 1 0 auto;
//     margin-left: auto;
//     margin-right: auto;
//     z-index: 1;

//     .map-container {
//         position: relative;
//         display: flex;
//         justify-content: center;
//         .input{
//             position: absolute;
//             width: 100%;
//             max-width: 25rem;
//             opacity: 0.9;
//             z-index: 10;
//             box-shadow: 0 3px 3px 1px #0000004a;
//             &:active,
//             &:focus{
//                 outline: red;
//                 border-color: red;
//                 -webkit-box-shadow: red;
//                 box-shadow: red;
//             }
//         }
//         .map {
//             max-height: 80vh;
//         }
//     }
// }

:host {
    display: grid;
    max-height: 90vh;

    .title-tile {
        grid-area: title-tile;
    }

    .controls-tile {
        grid-area: controls-tile;
    }

    .status-tile {
        grid-area: status-tile;
    }

    .data-tile {
        grid-area: data-tile;
    }

    .map-tile {
        position: relative;
        display: flex;
        justify-content: center;
        grid-area: map-tile;

        input[type="text"] {
            position: absolute;
            border-radius: 0.25rem;
            background-color: #99999955;
            width: 100%;
            padding: 0.5rem 1rem;
            max-width: 30rem;
            -webkit-box-shadow: 0px 3px 5px -1px #000000; 
            box-shadow: 0px 3px 5px -1px #000000;
        }
    }

    @media screen and (max-width: 768px) {
        grid-template-columns: 2rem 1fr 1fr 2rem;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
            ". title-tile title-tile ."
            ". status-tile status-tile ."
            ". map-tile map-tile ."
    }

    @media screen and (min-width: 768px) {
        grid-template-columns: 2rem 1fr 1fr 2rem;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
            ". title-tile title-tile ."
            ". status-tile status-tile ."
            ". map-tile map-tile ."
    }

    @media screen and (min-width: 1024px) {
        gap: 1rem;
        grid-template-columns: 2rem 4fr 1fr 2rem;
        grid-template-rows: auto 1fr auto auto;
        grid-template-areas:
            ". map-tile title-tile ."
            ". map-tile status-tile ."
            ". map-tile controls-tile ."
            ". map-tile data-tile .";
    }


}