// @TODO To remove or to change, depending on incoming restructuration
@media only screen and (min-width: 1023px) {
     :host {
        height: 100%;
        display: grid;
        grid-column-gap: 1rem;
        grid-template-areas: 'top-left-sidenav header top-right-sidenav' 'left-sidenav main right-sidenav' 'bottom-left-sidenav footer bottom-right-sidenav';
        grid-template-columns: 24rem auto 24rem;
        grid-template-rows: 8rem auto 5rem;
        max-width: 1500px;
        margin: 0 auto;
        .top-left-sidenav {
            grid-area: top-left-sidenav;
        }
        .header {
            grid-area: header;
        }
        .top-right-sidenav {
            grid-area: top-right-sidenav;
        }
        .left-sidenav {
            grid-area: left-sidenav;
            gap: 1rem;
            mat-card {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                .my-mat-card-content {
                    display: flex;
                    justify-content: space-around;
                    margin-top: 16px
                }
            }
        }
        .main {
            grid-area: main;
            min-width: 500px;
            max-height: 60vh;
        }
        .right-sidenav {
            grid-area: right-sidenav;
        }
        .bottom-left-sidenav {
            grid-area: bottom-left-sidenav;
        }
        .footer {
            grid-area: footer;
        }
        .bottom-right-sidenav {
            grid-area: bottom-right-sidenav;
        }
        .header,
        .top-left-sidenav,
        .top-right-sidenav {
            justify-content: center;
            text-align: center;
            h1 {
                margin: 0;
            }
            sub {
                color: rgb(150, 150, 150);
            }
        }
        .left-sidenav,
        .right-sidenav,
        .main,
        .footer {
            align-items: center;
        }
        .header,
        .top-left-sidenav,
        .top-right-sidenav,
        .left-sidenav,
        .right-sidenav,
        .main,
        .footer {
            display: flex;
            flex-direction: column;
            align-items: center;
            mat-card {
                padding: 0;
                mat-card-title,
                mat-card-subtitle,
                mat-card-content {
                    margin: 16px;
                }
            }
        }
        .top-left-sidenav,
        .top-right-sidenav,
        .left-sidenav,
        .right-sidenav,
        .bottom-left-sidenav,
        .bottom-right-sidenav {
            mat-card {
                width: 100%;
            }
        }
    }
}

// Mostly good but to change (remove grid idea)
@media only screen and (max-width: 1300px) {
     :host {
        grid-template-areas: 'main right-sidenav' 'footer left-sidenav';
        grid-template-columns: auto 30vw;
        grid-template-rows: auto auto;
        .header,
        .top-left-sidenav {
            display: none;
        }
    }
}

// Good for small devices, check for generalization after changes
@media only screen and (max-width: 1024px) {
     :host {
        display: flex;
        flex-direction: column;
        padding: 0.5rem;
        gap: 1rem;
        width: 100%;
        height: 100%;
        justify-content: space-around;
        .progress {
            display: flex;
            justify-content: space-evenly;
            gap: 1rem;
        }
        .side-button,
        .side {
            position: absolute;
        }
        .side-button {
            width: 30px;
            height: 40px;
            border: 1px rgba(255, 255, 255, 0.3) solid;
            right: 0;
            top: 10%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.5rem;
            cursor: pointer;
            user-select: none;
        }
    }
}

.slide {
    animation-timing-function: ease-in-out;
    z-index: 1000;
    &.slide-in {
        animation: slide-in 1s forwards;
    }
    &.slide-out {
        animation: slide-out 1s forwards;
    }
    @keyframes slide-in {
        0% {
            transform: translateY(-100%);
        }
        100% {
            transform: translateY(0%);
        }
    }
    @keyframes slide-out {
        0% {
            transform: translateY(0%);
        }
        100% {
            transform: translateY(-100%);
        }
    }
}