<ng-container *ngIf="loadedMap; else loading">

  <svg #mapRef id="map-container" [class.visible-border]="visibleBorder" [attr.xlmns]="loadedMap.xlmns"
    attr.viewBox="{{ loadedMap.viewBox.x }} {{ loadedMap.viewBox.y }} {{loadedMap.viewBox.width}} {{ loadedMap.viewBox.height }}"
    [class.panning]="mouseStates.isPanned" (wheel)="wheelEvent($event)" (pointerdown)="panningBegin($event)"
    (pointerup)="panningEnd($event)" (pointerleave)="pointerMove($event)" (pointermove)="pointerMove($event)">
    <g #groupRef id="scaled-map-container">
      <path *ngFor="let path of loadedMap.contentPath" id="{{ path.id }}" (click)="areaClick(path.id)"
        class="{{ path.class }}" [attr.d]="path.d" />
      <g *ngFor="let groupe of loadedMap.contentGroup" id="{{ groupe.id }}" class="{{ groupe.class }}"
        (click)="areaClick(groupe.id)">
        <path *ngFor="let groupePath of groupe.contentPath" id="{{ groupePath.id }}" class="{{ groupePath.class }}"
          [attr.d]="groupePath.d" />
      </g>
    </g>
  </svg>
  <div id="map-control-container">
    <div class="map-control-box">
      <button id="zoom-in" class="map-control-button" (pointerdown)="scaleClick(true)" (pointerup)="zoomStop()"
        (pointerleave)="zoomStop()">
        <img id="zoom-in-icon" class="map-control-button-icon" src="./assets/icons/plus.svg" alt="zoom in button">
      </button>
      <hr>
      <button id="zoom-out" class="map-control-button" (pointerdown)="scaleClick(false)" (pointerup)="zoomStop()"
        (pointerleave)="zoomStop()">
        <img id="zoom-out-icon" class="map-control-button-icon" src="./assets/icons/minus.svg" alt="zoom out button">
      </button>
    </div>
    <div class="map-control-box">
      <button id="reset-transform" class="map-control-button" (click)="resetTransform()">
        <img id="reset-transform-icon" class="map-control-button-icon" src="./assets/icons/current_location.svg"
          alt="reset transform button">
      </button>
    </div>
  </div>
</ng-container>
<div class="consultation bg-dark {{consultationSide}}" *ngIf="canCurrentSelectedBeDisplayed(currentSelected)"
  (mouseenter)="mouseEnterConsultation()">
  <div class="label" i18n="@@name">Name</div>
  <div class="value">{{ currentSelected!.label}}</div>
  <hr>
  <div class="label" i18n="@@flag">Flag</div>
  <img class="flag" src="{{ currentSelected!.flag_url }}" alt="Flag of {{ currentSelected!.label}}">
  <hr>
  <div class="label" i18n="@@main-city">Main city</div>
  <div class="value">{{ currentSelected!.capital}}</div>

</div>

<ng-template #loading>
  <div id="loading"></div>
</ng-template>
