<ng-container *ngIf="{
  mapGroup: mapGroup$ | async,
  selectedMap: selectedMap$ | async,
  maps: maps$ | async
} as observables">
  <ng-container *ngIf="observables.selectedMap && observables.mapGroup">
    <div class="thumbnail-container">
      <div class="thumbnail-img"
        style="background-image: url('./assets/maps/map_illustrative_picture/{{observables.mapGroup.mapGroupId}}.jpg');">
      </div>
      <div class="thumbnail-filter"></div>
    </div>
    <span>
    </span>
    <div class="page-flow px-6 mb-10">
      <div class="map-header ">
        <div class="flex items-end z-30 mb-4 ">
          <div class="flex items-center">
            <img class="flag" src="{{observables.mapGroup.mapFlagUrl}}"
              alt="{{observables.mapGroup.mapDisplayName}} flag">
            <h1 class="mx-4 gap-4 text-2xl">
              {{observables.mapGroup.mapDisplayName}}
            </h1>
            <svg class="mx-4 flex gap-4 items-center" aria-hidden="true" width="22" height="22" viewBox="0 0 22 22"
              fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M11 4.74192L13.1404 9.1575L18.0033 9.8285L14.4641 13.2293L15.3276 18.0602L11 15.7465L6.67242 18.0611L7.53592 13.2303L3.99667 9.82942L8.85958 9.1575L11 4.74192ZM11 0.538086L7.63767 7.47542L0 8.5305L5.55867 13.8728L4.202 21.4619L11 17.8255L17.798 21.461L16.4413 13.8719L22 8.5305L14.3623 7.47634L11 0.538086Z"
                fill="white" />
            </svg>
          </div>
        </div>
      </div>
      <div class="flex mt-2">
        <button (click)="onPlay(observables.selectedMap)" id="play-button" class="px-4 py-2 rounded"
          i18n="@@play">Play</button>
      </div>
      <form class="sub-maps gap-2 mt-2" style="z-index:2;">
        <p><span i18n="@@selected-map">Selected map</span> :</p>
        <div class="selectable-maps-container">
          <div *ngFor="let map of observables.maps" class="button-select-map">
            <input type="radio" id="{{map.id}}" name="selection" value="{{map.id}}" (click)="selectedMap$.next(map)"
              [checked]="observables.selectedMap.id === map.id">
            <label for="{{map.id}}" [class.selected]="observables.selectedMap.id === map.id">{{map.displayName}}</label>
          </div>
        </div>

      </form>
      <app-map-generic class="z-0" [mapId]="observables.selectedMap.id"
        (areaSelected)="onAreaSelected($event)"></app-map-generic>
    </div>
  </ng-container>
</ng-container>
