:host {
    display: flex;
    flex: 1 0 auto;
    margin: 1rem auto;
    gap: 1rem;
    flex-direction: column;
    max-width: 1392px;
    .first-section {
        .text-presentation {
            text-align: center;
            font-size: 1.2rem;
            margin: 0 auto;
            padding: 0 0.5rem;
        }
    }
    .second-section {
        display: flex;
        margin-top: 1rem;
        gap: 1rem;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        .recommendation {
            display: flex;
            flex-direction: column;
            mat-card {
                max-width: 20rem;
                mat-card-title {
                    display: flex;
                    mat-icon {
                        margin-left: auto;
                    }
                }
                mat-card-content {
                    display: flex;
                    .img-container {
                        max-width: 40%;
                        height: 10rem;
                    }
                    .description-container {
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        button {
                            margin: auto auto 0 auto;
                        }
                    }
                }
                &:hover {
                    transition: transform 0.1s ease-in-out;
                    transform: scale(1.02);
                }
            }
        }
        #main {
            display: flex;
            flex-direction: column;
            align-items: center;
            app-logo {
                height: 10rem;
                width: 10rem;
            }
        }
    }
}

@media screen and (max-width: 1000px) {
     :host {
        #main {
            order: -1;
            width: 100%;
        }
    }
}