<div class="first-section">
    <p class="text-presentation">
        Bienvenue sur Learn Your Maps.<br>Le site pour apprendre les cartes du monde en t'amusant !
    </p>
</div>
<div class="second-section">
    <div class="recommendation">
        <h1>
            Cartes du jour
        </h1>
        <mat-card>
            <mat-card-title>
                <span>Préfectures - Japon</span>
                <mat-icon matTooltip="Contre la montre" matTooltipPosition="above">alarm</mat-icon>
            </mat-card-title>
            <mat-card-content>
                <div class="img-container">
                    <app-map-prefectures-japon></app-map-prefectures-japon>
                </div>
                <div class="description-container">
                    <p>Carte des préfectures du Japon</p>
                    <button mat-raised-button [routerLink]="['/maps/games', GameModeType.GAME_INPUT.game_mode_identifier ]" [queryParams]="{ map : MapsType.MAP_PREFECTURES_JAPON.map_identifier }">C'est parti !</button>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div id="main">
        <app-logo></app-logo>
    </div>
    <div class="recommendation">
        <h1>
            Recommendation du chef
        </h1>
        <mat-card>
            <mat-card-title>
                <span>Départements - France</span>
                <mat-icon matTooltip="Contre la montre" matTooltipPosition="above">alarm</mat-icon>
            </mat-card-title>
            <mat-card-content>
                <div class="img-container">
                    <app-map-departements-francais></app-map-departements-francais>
                </div>
                <div class="description-container">
                    <p>Carte des départements<br>Avec DOMTOM mais sans les collectivitées d'outres mer</p>
                    <button mat-raised-button [routerLink]="['/maps/games', GameModeType.GAME_INPUT.game_mode_identifier]" [queryParams]="{ map : MapsType.MAP_DEPARTEMENTS_FRANCE.map_identifier }">C'est parti !</button>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>