<div class="first-section">
    <p class="text-presentation" >
        <ng-container i18n="@@main-page-welcome">Welcome to Learn Your Maps.</ng-container>
        <br>
        <span i18n="@@main-page-presentation">The place to learn maps the fun way !</span>
        
    </p>
</div>
<div class="second-section">
    <div class="recommendation">
        <h1 i18n="@@main-page-title-today-map">On the menu today</h1>
        <mat-card>
            <mat-card-title>
                <span>Préfectures - Japon</span>
                <mat-icon i18n-matTooltip="@@time-trial" matTooltip="Time trial" matTooltipPosition="above">alarm</mat-icon>
            </mat-card-title>
            <mat-card-content>
                <div class="img-container">
                    <app-map-prefectures-japon></app-map-prefectures-japon>
                </div>
                <div class="description-container">
                    <p>Carte des préfectures du Japon</p>
                    <button mat-raised-button
                    [routerLink]="['/maps/games', GameModeType.GAME_INPUT.game_mode_identifier ]"
                    [queryParams]="{ map : MapsType.MAP_PREFECTURES_JAPON.map_identifier }"
                    i18n="@@lets-go">Let's go !</button>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div id="main">
        <app-logo></app-logo>
    </div>
    <div class="recommendation">
        <h1 i18n="@@main-page-title-recommendation-map">Chiefs recommendation</h1>
        <mat-card>
            <mat-card-title>
                <span>Départements - France</span>
                <mat-icon i18n-matTooltip="@@time-trial" matTooltip="Time trial"  matTooltipPosition="above">alarm</mat-icon>
            </mat-card-title>
            <mat-card-content>
                <div class="img-container">
                    <app-map-departements-francais></app-map-departements-francais>
                </div>
                <div class="description-container">
                    <p>Carte des départements<br>Avec DOMTOM mais sans les collectivitées d'outres mer</p>
                    <button mat-raised-button
                    [routerLink]="['/maps/games', GameModeType.GAME_INPUT.game_mode_identifier]"
                    [queryParams]="{ map : MapsType.MAP_DEPARTEMENTS_FRANCE.map_identifier }"
                    i18n="@@lets-go">Let's go !</button>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>