@use 'sass:map';
@use '~@angular/material' as mat;
@mixin color($theme) {
    $color-config: mat.get-color-config($theme);
    $background-palette: map.get($color-config, 'background');
    $foreground-palette: map.get($color-config, 'foreground');
    .side-nav-container {
        background-color: mat.get-color-from-palette($background-palette, 'background');
        color: mat.get-color-from-palette($foreground-palette, 'text');
    }
    #mobile-responsive-sidenav {
        background-color: mat.get-color-from-palette($background-palette, 'background');
    }
}

@mixin theme($theme) {
    $color-config: mat.get-color-config($theme);
    @if $color-config !=null {
        @include color($theme);
    }
}