:host {
    flex: 0 0 auto;
    position: static;
    .side-nav-container {
        display: flex;
        flex: 0 0 auto;
        flex-direction: column;
        position: sticky;
        width: 230px;
        height: 100vh;
        top: 0;
        margin-left: -230px;
        background-color: rgba(0, 0, 0, 0.1);
        overflow-y: auto;
        #menu-button {
            display: flex;
            flex: 0 0 auto;
            justify-content: center;
            align-items: center;
            margin: 0.75rem;
            cursor: pointer;
            div {
                display: flex;
                align-items: center;
                gap: 0.5rem;
                border-radius: 0.5rem;
            }
            mat-icon {
                padding: 0.5rem;
                border-radius: 50%;
            }
            app-logo {
                width: 2.5rem;
                display: flex;
            }
        }
        button {
            display: flex;
            mat-icon {
                margin-right: 0.5rem;
            }
        }
    }
    .slide-sidenav-show {
        animation: slide-sidenav-show 0.2s ease-in-out forwards;
    }
    .slide-sidenav-hide {
        animation: slide-sidenav-hide 0.2s ease-in-out forwards;
    }
}

@keyframes slide-sidenav-show {
    0% {
        margin-left: -230px;
    }
    100% {
        margin-left: 0px;
    }
}

@keyframes slide-sidenav-hide {
    0% {
        margin-left: 0px;
    }
    100% {
        margin-left: -230px;
    }
}