:host {
    flex: 0 0 auto;
    position: static;
    z-index: 9999;
    .side-nav-container {
        display: flex;
        flex: 0 0 auto;
        flex-direction: column;
        position: sticky;
        width: 230px;
        height: 100vh;
        top: 0;
        margin-left: -230px;
        overflow-y: auto;
        #menu-button {
            display: flex;
            flex: 0 0 auto;
            align-items: center;
            margin: 0.75rem;
            cursor: pointer;
            div {
                display: flex;
                align-items: center;
                gap: 0.5rem;
                border-radius: 0.5rem;
            }
            mat-icon {
                padding: 0.5rem;
                border-radius: 50%;
            }
            app-logo {
                width: 2.5rem;
                display: flex;
            }
        }
        button {
            display: flex;
            mat-icon {
                margin-right: 0.5rem;
            }
        }
    }
    .slide-sidenav-show {
        animation: slide-sidenav-show 0.2s ease-in-out forwards;
    }
    .slide-sidenav-hide {
        animation: slide-sidenav-hide 0.2s ease-in-out forwards;
    }
    #mobile-responsive-sidenav {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        opacity: 0.2;
    }
}

@keyframes slide-sidenav-show {
    0% {
        margin-left: -230px;
    }
    100% {
        margin-left: 0px;
        box-shadow: 1px 0px 10px 3px rgba(0, 0, 0, 0.5);
    }
}

@keyframes slide-sidenav-hide {
    0% {
        margin-left: 0px;
    }
    100% {
        margin-left: -230px;
    }
}

@media only screen and (max-width: 1024px) {
     :host {
        position: fixed;
        .side-nav-container {
            opacity: 1.0;
        }
    }
    @keyframes slide-sidenav-show {
        0% {
            margin-left: -230px;
        }
        100% {
            margin-left: 0px;
            box-shadow: 5px 0px 15px 5px rgba(0, 0, 0, 0.5);
        }
    }
}