
<div id="home-rotating-maps-container" >
    <div id="home-rotating-maps">
        <img src="./assets/world.png" alt="Scrolling map part 1">
        <img src="./assets/world.png" alt="Scrolling map part 2">
        <img src="./assets/world.png" alt="Scrolling map part 3">
    </div>
</div>
<div id="home-presentation-text">
    <p id="home-welcome" i18n="@@home-welcome-to">Welcome to</p>
    <span id="home-title" class="candy-text-color">Learn your maps</span>
    <span id="home-catch-phrase" i18n="@@home-catch-phrase">To learn maps the fun way</span>
    <button matRipple  id="home-button-see-maps" i18n="@@home-view-maps" class="bg-candy-theme" [routerLink]="['/maps']">See maps</button>
</div>