@import "/src/app/theming/breakpoints";
@import "/src/app/theming/gradients";

:host {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  width: 100%;
  z-index: 1;

  #home-rotating-maps-container {
    position: absolute;
    pointer-events: none;
    top: 0;
    right: 0;
    width: 100vw;
    overflow: hidden;
    -webkit-user-select: none;
    user-select: none;

    #home-rotating-maps {
      display: flex;
      width: 200vw;
      transform: rotate(20deg) translateY(-20px);
      -webkit-mask-image: radial-gradient(circle at 100% 0%, #000000, transparent 90%);
      mask-image: radial-gradient(circle at 100% 0%, #000000, transparent 90%);

      img {
        image-rendering: pixelated;
        animation: move-left 20s infinite;
        animation-timing-function: linear;
      }
    }
  }

  section {
    margin: 0 90px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 5vh;
    z-index: 1;

    #home-welcome {
      font-family: 'Outfit';
      font-style: normal;
      font-weight: 500;
      font-size: 50px;
      line-height: 63px;
      text-transform: uppercase;
      background-image: $gradient-candy;
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    #home-catch-phrase {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 30px;
      line-height: 35px;
    }


    #home-button-see-maps {
      padding: 0.75rem 1rem;
      border-radius: 0.5rem;
      color: #FFFFFF;
      align-self: flex-end;
      text-transform: uppercase;
    }


  }

}

@keyframes move-left {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

@media screen and (max-width : $large-screen) {

  #header {

    #header-content {
      margin: 15px 35px;
    }
  }
}
