<div id="home-rotating-maps-container">
  <div id="home-rotating-maps">
    <img src="./assets/world.png" alt="Scrolling map part 1">
    <img src="./assets/world.png" alt="Scrolling map part 2">
    <img src="./assets/world.png" alt="Scrolling map part 3">
  </div>
</div>
<section>
  <h1 id="home-welcome">
    <ng-container i18n="@@home-welcome-to">
      Welcome to
    </ng-container>
    <br>
    Wanderways
  </h1>
  <span id="home-catch-phrase" i18n="@@home-catch-phrase">To learn maps the fun way</span>
</section>
