:host{
    @apply flex flex-col self-center;
    flex : 1 0 auto;
    width: 100%;
    max-width: min(1392px, 100vw);
    #map-scroll-fixed-container{
        @apply fixed;
        @apply pointer-events-none;
        @apply w-full;
        @apply top-0 right-0;
        #rotated{
            @apply  flex;
            width: 200vw;
            transform: rotate(20deg);
            -webkit-mask-image: radial-gradient(circle at 100% 0%,rgb(0, 0, 0), transparent 90%);
            img{
                animation: move-left 20s infinite;
                animation-timing-function : linear;
            }
        }
    }
    #presentation-text{
        @apply flex flex-col items-start uppercase;
        margin-top: 25vh;
        z-index: 1;
        padding: 0 1rem;
        letter-spacing: 0.13rem;
        #welcome{
            @apply text-xl ;
        }
        #title{
            @apply text-5xl font-semibold;
        }
    }
    
}

@keyframes move-left {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
  }