:host{
    @apply flex flex-col self-center;
    flex : 1 0 auto;
    width: 100%;
    max-width: min(1392px, 100vw);
    z-index: 1;
    #home-rotating-maps-container{
        @apply absolute;
        @apply pointer-events-none;
        @apply top-0 right-0 w-screen;
        @apply overflow-hidden;
        #home-rotating-maps{
            @apply  flex;
            width: 200vw;
            transform: rotate(20deg) translateY(-20px);
            mask-image: radial-gradient(circle at 100% 0%,rgb(0, 0, 0), transparent 90%);
            -webkit-mask-image: radial-gradient(circle at 100% 0%,rgb(0, 0, 0), transparent 90%);
            img{
                animation: move-left 20s infinite;
                animation-timing-function : linear;
            }
        }
    }
    #home-presentation-text{
        @apply flex flex-col items-start uppercase;
        @apply tracking-widest uppercase;
        margin-top: 25vh;
        padding: 0 1rem;
        z-index: 1;
        #home-welcome{
            @apply text-xl ;
        }
        #home-title{
            @apply text-5xl font-semibold;
        }
        #home-button-see-maps{
            @apply self-end;
            @apply px-4 py-3 rounded-lg;
            @apply text-white uppercase;
        }
    }
    
}

@keyframes move-left {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
  }