
<div id="home-rotating-maps-container" >
    <div id="home-rotating-maps">
        <img src="./assets/maps/world.png">
        <img src="./assets/maps/world.png">
        <img src="./assets/maps/world.png">
    </div>
</div>
<div id="home-presentation-text">
    <p id="home-welcome" i18n="@@home-welcome-to">Welcome to</p>
    <span id="home-title" class="candy-text-color">Learn your maps</span>
    <button matRipple matRippleColor="#FFFFFF60" id="home-button-see-maps" i18n="@@home-view-maps" class="bg-candy-theme">See maps</button>
</div>
