:host {
  display: flex;
  flex-direction: column;
  align-self: flex-end;

  .tag-groups-container {
    margin: 0.5rem 0;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    span {
      font-weight: 300;
      text-transform: capitalize;
      font-size: 0.75rem;
      line-height: 1rem;

    }

    .tag-group {
      display: flex;
      gap: 1rem;
      flex-wrap: wrap;
      justify-self: stretch;
      justify-content: flex-end;

      label {
        display: flex;
        gap:0.25rem;
        align-items: center;
        cursor: pointer;
      }

      .tag {
        display: flex;
        gap: 0.25rem;
        align-items: center;
        cursor: pointer;
        padding: 0.5rem;
        border-radius: 0.25rem;

        &.bg-violetta-theme {
          color: white;
        }
      }
    }
  }

  .save-filter-button {
    display: flex;
    gap: 0.25rem;
    align-items: center;
    cursor: pointer;
    align-self: flex-end;
  }

  &.rtl {
    .tag-groups-container {
      align-items: flex-end;
    }

    .save-filter-button {
      display: flex;
      justify-content: flex-end;
    }
  }

  &.displayed {
    padding: 0.5rem;
    border: 1px solid #8888880f;
    border-radius: 1rem 0 1rem 1rem;
    margin-top: 1rem;
  }
}
