:host {
    display: flex;
    width: 100%;
    svg {
        width: 100%;
        .text {
            display: none;
        }
        .text {
            font-size: 10px;
            font-style: normal;
            font-variant: normal;
            font-weight: normal;
            font-stretch: normal;
            fill: #000000;
            fill-opacity: 1;
            stroke: none;
            stroke-width: 1px;
            stroke-linecap: butt;
            stroke-linejoin: miter;
            stroke-opacity: 1;
            font-family: Sans;
        }
        .separator {
            fill: none;
            fill-rule: evenodd;
            stroke: white;
            stroke-width: 1px;
            stroke-linecap: butt;
            stroke-linejoin: miter;
            stroke-opacity: 1;
        }
        .land {
            fill: grey;
            stroke: white;
            stroke-width: 0.5px;
            transition: all 0.2s;
            transform-origin: center center;
            transform-box: fill-box;
            &:hover {
                fill: #fbb80f;
                filter: brightness(1.1);
                cursor: pointer;
            }
            &.found {
                fill: #347b98;
            }
            &.not-valid {
                fill: #be2d0d;
            }
            &.valid {
                fill: #49be25;
            }
            &.selected {
                fill: #fbb80f;
                animation: select-animation 1s forwards;
                @keyframes select-animation {
                    0% {
                        transform: scale(1);
                    }
                    50% {
                        transform: scale(1.2);
                    }
                    100% {
                        transform: scale(1);
                    }
                }
            }
        }
    }
}