:host {
    height: 100%;
    width: 100%;
    svg {
        width: 100%;
        height: 100%;
        .text {
            display: none;
        }
        .text {
            font-size: 10px;
            font-style: normal;
            font-variant: normal;
            font-weight: normal;
            font-stretch: normal;
            fill: #000000;
            fill-opacity: 1;
            stroke: none;
            stroke-width: 1px;
            stroke-linecap: butt;
            stroke-linejoin: miter;
            stroke-opacity: 1;
            font-family: Sans;
        }
        .separator {
            fill: none;
            fill-rule: evenodd;
            stroke: white;
            stroke-width: 1px;
            stroke-linecap: butt;
            stroke-linejoin: miter;
            stroke-opacity: 1;
        }
        .land {
            fill: grey;
            stroke: white;
            stroke-width: 0.5px;
            transition: all 0.2s;
            transform-origin: center center;
            transform-box: fill-box;
            &:hover {
                fill: #fbb80f;
                transform: scale(1.1);
            }
        }
    }
}