@mixin scrollbar($classname, $opacity) {
    #{$classname} {
        overflow-y: auto;
        scrollbar-color: auto ;
        &::-webkit-scrollbar {
            width: 0.75rem;
            height: 0.5rem;
        }

        &::-webkit-scrollbar-track {
            @if $opacity{
                background-color: var(--dark-background) !important;
            }@else{
                background-color: transparent;
            }
        }

        &::-webkit-scrollbar-thumb {
            background-color: #ffffff4d;
            border-radius: 10px;
        }

        &::-webkit-scrollbar-corner {
            background: transparent;
        }
    }
}
