$gradient-dark :linear-gradient(180deg,
  var(--theme-dark-background-dark) 0%,
  var(--theme-dark-background-light) 100%);

$gradient-candy :linear-gradient(225deg,
  var(--candy-primary) 0%,
  var(--candy-secondary) 100%);

$gradient-violeta :linear-gradient(45deg,
  var(--violetta-primary) 0%,
  var(--violetta-secondary) 100%);

$radial-gradient-dark : radial-gradient(45vh 25vh at 15% 85%,
  var(--theme-dark-background-dark) 0%,
  rgba(0, 0, 0, 0) 100%),
radial-gradient(70vh 50vh at 75% 25%,
  var(--theme-dark-background-dark) 0%,
  rgba(0, 0, 0, 0) 100%);
