@import "../../shared/variables";
:host {
    margin-top: auto;
    height: 3rem;
    width: 100%;
    display: flex;
    background-color: $greyer;
    color: white;
    footer {
        display: flex;
        justify-content: center;
        width: 100%;
    }
}