@import "../../shared/variables";
:host {
    margin-top: auto;
    width: 100%;
    display: flex;
    background-color: $greyer;
    color: white;
    z-index: 9999;
    .footer {
        display: flex;
        justify-content: center;
        width: 100%;
    }
}