@import "../../shared/variables";
:host {
    display: flex;
    flex-shrink: 0;
    background-color: $greyer;
    color: white;
    z-index: 500;
    .footer {
        display: flex;
        justify-content: center;
    }
}