:host {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;
    gap: 0.5rem;
    align-items: center;
    user-select: none;
    .tracker-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1 1 auto;
        flex-direction: column;
        .text-zone:not(.isSmallDevice) {
            position: absolute;
            flex-direction: column;
            margin-top: 0.5rem;
        }
        .text-zone.isSmallDevice {
            display: flex;
            align-items: flex-end;
            gap: 0.5rem;
            * {
                margin: 100rem;
                user-select: none;
            }
        }
        .mat-progress-bar{
            border-radius: 5px;
            min-width: 80px;
        }
    }
}