:host {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex: 1 1 auto;
    gap: 0.5rem;
    align-items: center;
    user-select: none;
    div {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1 1 auto;
        flex-direction: column;
        .text-zone:not(.isSmallDevice) {
            position: absolute;
            flex-direction: column;
            margin-top: 0.5rem;
        }
        .text-zone.isSmallDevice {
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            gap: 0.5rem;
            * {
                margin: 100rem;
                user-select: none;
            }
        }
        mat-progress-bar>div>div.mat-progress-bar-buffer.mat-progress-bar-element {
            min-width: 100px;
        }
    }
}