cdk-accordion-item{
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    user-select: none;
    #accordion-item-component-tab{
        cursor: pointer;
    }
    // @TODO Complete potential needed styling
    #accordion-item-component-tabpanel{
    }
}