:host {
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
    margin: 24px;
    max-width: 33vw;
    min-width: 344px;
    padding: 14px 16px;
    min-height: 48 px;
    transform-origin: center;
    color: white;
    background: #303030;
    box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%);
    #simple-snack-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        line-height: 20px;
        opacity: 1;
        font-family: Roboto, Helvetica Neue, sans-serif;
        font-size: 14px;
    }
}