<div class="title-tile">
  <div class="flex flex-col gap-1 flex-wrap">
    <span class="text-xl font-extralight">{{
      (currentMap$ | async)?.displayName }}</span>
    <span class="text-base font-thin" i18n="@@game-time-trial">Time trial</span>
  </div>
  <img *ngIf="mobileDisplay" (click)="displaySideMenu=true" src="assets/icons/open-sidemenu.svg" alt="Open sidemenu"
    class="cursor-pointer">
</div>

<div class="map-tile">
  <app-map-generic class="map flex-grow h-full w-full" *ngIf="(currentMap$ | async)" [visibleBorder]="true" [mapId]="(currentMap$ | async)?.id ?? ''"
    [currentSelected]="currentSelected" [inGame]="true" [foundList]="foundList"
    (areaSelected)="onAreaSelected($event)"></app-map-generic>
  <input title="response" [formControl]="userInput" (keyup)="onInputChange()" autofocus type="text"
    class="{{mobileDisplay?'outside':'inside'}}" />
</div>

<div class="progress-tile">
  <div class="flex gap-2 justify-between">
    <app-progress-bar [currentFound]="foundList.length" [objective]="originList.length"
      [progressBarWidth]="mobileDisplay?'200px':'100px'"></app-progress-bar>
    <app-timer [timerDuration]="originList.length*10"></app-timer>
  </div>
</div>

<ng-container *ngIf="!mobileDisplay then datalist"></ng-container>

<app-side-menu #app_side_menu id="sidemenu" *ngIf="mobileDisplay" [displaySideMenu]="displaySideMenu"
  (displaySideMenuChange)="displaySideMenu = !displaySideMenu" [behavior]="'fixed'" [direction]="'right'">
  <ng-container *ngIf="mobileDisplay then datalist"></ng-container>
</app-side-menu>

<ng-template #datalist>
  <mat-accordion class="miscellaneous-tile {{mobileDisplay?'w-full':''}}">
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title i18n="@@results"><img src="assets/icons/datalist.svg" class="mr-2"
            style="height: 0.75rem; filter: brightness(25);" alt=""> Results </mat-panel-title>
      </mat-expansion-panel-header>
      <app-data-list [originList]="originList" [foundList]="foundList" [currentSelected]="currentSelected"
        [inGame]="true" [maxHeight]="'10rem'" (onSelectedRow)="onSelectedRow($event)"></app-data-list>
    </mat-expansion-panel>
    <!-- TEST START -->
    <button (click)="testAdd(1)">Test 1</button>
    <button (click)="testAdd(10)">Test 10</button>
    <!-- TEST END -->
  </mat-accordion>

</ng-template>
