@import "/src/app/theming/breakpoints";


:host {
  display: grid;
  max-height: 90vh;
  height: 100%;
  max-width: min(1392px, 100vw);

  margin: 0 auto;

  .title-tile {
    grid-area: title-tile;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .progress-tile {
    grid-area: progress-tile;
    align-items: center;
    margin: 0.5rem 0;
  }

  .miscellaneous-tile {
    grid-area: miscellaneous-tile;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    mat-expansion-panel-header {
      height: 2rem;

      &:hover,
      &.mat-expanded {
        background-color: #ffffff11;
      }
    }
  }

  .map-tile {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: map-tile;

    input[type="text"] {
      width: 100%;
      max-width: 30rem;
      margin: 0 auto;
      padding: 0.5rem 1rem;
      border-radius: 0.25rem;
      background-color: #99999955;
      -webkit-box-shadow: 0px 3px 5px -1px #000000;
      box-shadow: 0px 3px 5px -1px #000000;

      &.inside {
        position: absolute;
        bottom: 1rem;
      }

      &.outside {
        margin: 1rem auto;
      }
    }
  }

  @media screen and (max-width: $large-screen) {
    grid-template-columns: 2rem 1fr 1fr 2rem;
    grid-template-rows: auto auto 1fr;
    grid-template-areas:
      ". title-tile title-tile ."
      ". progress-tile progress-tile ."
      "map-tile map-tile map-tile map-tile"
  }

  @media screen and (min-width: $large-screen) {
    gap: 1rem;
    grid-template-columns: 2rem 4fr 1fr 2rem;
    grid-template-rows: auto auto 1fr;
    grid-template-areas:
      ". map-tile title-tile ."
      ". map-tile progress-tile ."
      ". map-tile miscellaneous-tile .";

    .progress-tile {
      div{
        align-items: center;
      }
    }
  }
}

.nav-container{
  display: flex;
  flex-direction: column;
}
