:host {
    display: flex;
    flex: 1 0 auto;

    // Sidenav menu
    #sidenav {
        #sidenav-header {
            @apply rounded-lg;
            display: flex;
            align-items: center;
            justify-content: space-between;

            #close-button {
                @apply w-4 h-4;
                border-radius: 50%;
                cursor: pointer;
            }
        }

        // Content injected inside app-side-menu
        .nav-container {
            gap: .5rem;
        }

        .menu-button,
        .subcat-title {
            @apply p-2 gap-2;
            -webkit-user-select: none;
            user-select: none;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            border-radius: 6px;

            span,
            img {
                filter: brightness(10);
                text-align: left;
            }

            .nav-icon {
                width: 1.5rem;
                max-width: 1.5rem;
                max-height: 24px;
            }
        }

        .menu-button {
            @apply pl-3;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 0% 0%;

            &.active-link {
                background-size: 100.5% 103%;

                span,
                img {
                    filter: drop-shadow(1px 1px 1px #333) brightness(1);
                }
            }

            &:hover {
                background-color: #FFFFFF3d;
            }
        }

        .cat-icon-container{
            width: 2.5rem;
            padding-left:0.25rem;
        }
        .subcat-nav {
            display: flex;
            flex-direction: column;

            .subcat-title,
            .menu-button  {
                @apply p-1;
            }
            .subcat-title{
                @apply pl-3;
            }
            .menu-button{
                @apply pl-6;
            }
        }

        hr {
            @apply mb-8;
            margin-top: auto;
            opacity: 0.2;
        }
    }

    // Main content
    #main-content {
        width: 100%;
        #header {
            @apply h-12;
            display: flex;
            width: 100%;
            z-index: 50;

            #header-content {
                @apply p-6;
                height: 100%;
                max-width: 1392px;
                margin: 0 auto;
                display: flex;
                align-items: center;
                width: 100%;;

                #menu-button {
                    @apply p-2;
                    @apply rounded-lg;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;
                    color: unset;
                    app-logo {
                        width: 2.5rem;
                        display: flex;
                    }
                }
            }

            &.sticky {
                position: sticky;
                top:0;

                &.isScrolled {
                    &::after {
                        opacity: 0.5;
                    }
                }

                &::after {
                    content: "";
                    background: linear-gradient(45deg, var(--violetta-primary) 0%, var(--violetta-secondary) 100%);
                    height: 1px;
                    width: 100%;
                    position: absolute;
                    bottom: 0;
                    opacity: 0;
                    transition: opacity 0.6s;
                }
            }

        }
    }
    // generic template logo and title
    #logo-and-title {
        @apply my-2 p-1 gap-2;
        display: flex;
        align-items: center;
        -webkit-user-select: none;
        user-select: none;
        text-transform: uppercase;
        font-weight: 300;
        font-size: 1rem;
        border-radius: 0.5rem;
        cursor: pointer;

        img {
            width: 1.5rem;
            display: flex;
        }
    }

    // @TODO verify 
    &:not(.relativeHeader) {
        position: sticky;
    }
    &.relativeHeader {
        position: relative;
    }
    // @TODO end verify
}

/* if backdrop support: blurred */
@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    #header {
        &.isSticky {
            -webkit-backdrop-filter: opacity(0);
            backdrop-filter: opacity(0) ;
        }
        &.isScrolled {
            -webkit-backdrop-filter: blur(20px) opacity(1) brightness(0.6);
            backdrop-filter: blur(20px) opacity(1) brightness(0.6);
        }
    }
}

/* else */
@supports ((not(-webkit-backdrop-filter: none)) or (not (backdrop-filter: none))) {
    #header {
        &.isSticky {
            &.isScrolled {
                background-color: var(--dark-background);
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    #close-sidenav-button{
        display: none;
    }
}