:host {
    flex: 0 0 auto;
    z-index: 9999;
    .side-menu-container {
        display: flex;
        flex: 0 0 auto;
        flex-direction: column;
        position: sticky;
        width: 230px;
        height: 100vh;
        top: 0;
        overflow-y: auto;
        #menu-button {
            display: flex;
            flex: 0 0 auto;
            align-items: center;
            margin: 0.75rem;
            cursor: pointer;
        }
    }
    &.static {
        position: static;
    }
    &.fixed {
        position: fixed;
        bottom: 0;
        .side-nav-container {
            opacity: 1.0;
        }
        #mobile-responsive-sidemenu {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            opacity: 0.2;
            right: 0;
        }
    }
    &.left {
        left: 0;
        .slide-sidemenu-show {
            animation: slide-sidemenu-show-left 0.2s ease-in-out forwards;
        }
        .slide-sidemenu-hide {
            animation: slide-sidemenu-hide-left 0.2s ease-in-out forwards;
        }
    }
    &.right {
        right: 0;
        .slide-sidemenu-show {
            animation: slide-sidemenu-show-right 0.2s ease-in-out forwards;
        }
        .slide-sidemenu-hide {
            animation: slide-sidemenu-hide-right 0.2s ease-in-out forwards;
        }
    }
}

@keyframes slide-sidemenu-show-right {
    0% {
        margin-right: -230px;
    }
    100% {
        margin-right: 0px;
        box-shadow: 1px 0px 10px 3px rgba(0, 0, 0, 0.5);
    }
}

@keyframes slide-sidemenu-hide-right {
    0% {
        margin-right: 0px;
    }
    100% {
        margin-right: -230px;
    }
}

@keyframes slide-sidemenu-show-left {
    0% {
        margin-left: -230px;
    }
    100% {
        margin-left: 0px;
        box-shadow: 1px 0px 10px 3px rgba(0, 0, 0, 0.5);
    }
}

@keyframes slide-sidemenu-hide-left {
    0% {
        margin-left: 0px;
    }
    100% {
        margin-left: -230px;
    }
}