@import "../../shared/variables";
mat-toolbar {
    display: flex;
    gap: 1rem;
    app-logo {
        display: flex;
        height: 80%;
    }
    #themeSlider {
        margin-left: auto;
    }
}