<mat-toolbar color="primary">
    <nav id="nav">
        <button *ngIf="!displaySideNav" mat-button (click)="toggleSideNavDisplayed()"><mat-icon>sort</mat-icon></button>
        <a matRipple *ngIf="!displaySideNav" id="menu-button" [routerLink]="['/home']">
            <app-logo></app-logo>
            <span id="menu-button-text">Learn your maps</span>
        </a>
        <mat-slide-toggle id="theme-slider" (change)="onDarkModeSwitched($event)" [checked]="themeSwitch">
            <mat-icon aria-hidden="false" aria-label="theme-icon">{{themeSwitch ? "bedtime" : "wb_sunny"}}</mat-icon>
        </mat-slide-toggle>
    </nav>
</mat-toolbar>