:host{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000CC;
    z-index: 9999;
    .dialog-container{
        .dialog-header,
        .dialog-content,
        .dialog-actions{
            @apply p-2;
        }
    }
}