<div matRipple class="language-line" [ngClass]="{'bg-violetta-theme selected': displayLanguageSelector }" (click)="displayLanguageSelector = !displayLanguageSelector" >
  <img
    src="https://flagcdn.com/w20/{{currentLanguage.iso3166}}.png"
    srcset="https://flagcdn.com/w40/{{currentLanguage.iso3166}}.png 2x"
    width="20"
    alt="{{currentLanguage.displayName}}">
  <span class="uppercase">{{currentLanguage.iso3166}}</span>
</div>
<div id="supportedLanguagesContainer">
    <ng-container *ngFor="let language of supportedLanguages">
      <ng-container *ngIf='displayLanguageSelector &&language.localeId != currentLanguage.localeId'>
        <a href="/{{language.localeId}}/" class="language-line">
          <img src="https://flagcdn.com/w20/{{language.iso3166}}.png"
            srcset="https://flagcdn.com/w40/{{language.iso3166}}.png 2x"
            width="20"
            alt="{{language.displayName}}">
          <span  mat-button class="current-color uppercase">{{language.iso3166}}</span>
        </a>
      </ng-container>
    </ng-container>
  
</div>
