:host{
    @apply relative;
    @apply cursor-pointer;
    @apply select-none;
    flex-grow : 1;
    .language-line{
        @apply  flex gap-2 p-2 items-center rounded;
        @apply rounded;
        span{
            @apply uppercase;
        }
        &.selected{
            @apply text-white;
        }
    }
    #supportedLanguagesContainer{
        overflow-y: auto;
        &::-webkit-scrollbar {
            @apply w-3;
          }
        &::-webkit-scrollbar-track {
            background: transparent;
        }
        &::-webkit-scrollbar-thumb {
            background-color: rgba(255,255,255, 0.3);
            border-radius: 10px;
        }
        &::-webkit-scrollbar-corner{
            background: transparent;
        }
        @apply absolute flex flex-col rounded w-full;
        background-color: var(--dark-background);
    }
}