<app-side-menu [displaySideMenu]="(sidenavService.isDisplayed$ | async) || false"
  (displaySideMenuChange)="sidenavService.toggleDisplayed()" [behavior]="'reactive'" [direction]="'left'">
  <header>
    <div matRipple class="logo-and-title" [routerLink]="['/']">
      <img id="logo-with-brand" src="./assets/brand/logo_with_brand.svg" alt="menu button icon" />
    </div>
    <div id="close-sidenav-button" matRipple (click)="sidenavService.toggleDisplayed()">
      <img id="close-button" src="./assets/icons/close.svg" alt="close button icon" class="svg-current-color mx-0" />
    </div>
  </header>
  <nav>
    <app-sidenav-link-list [linkList]="navLinks"></app-sidenav-link-list>
    <hr>
    <img src="./assets/brand/logo_with_brand_white.svg" alt="">
    <app-sidenav-link-list [linkList]="footerLinks"></app-sidenav-link-list>
    <hr>
    <app-language-selector></app-language-selector>
    <p class="version">Version : {{current_version}}</p>
  </nav>
</app-side-menu>
