<app-side-menu [displaySideMenu]="(sidenavService.isDisplayed$ | async) || false"
  (displaySideMenuChange)="sidenavService.toggleDisplayed()" [behavior]="'reactive'" [direction]="'left'">
  <div id="sidenav-header">
    <div matRipple class="logo-and-title" [routerLink]="['/']">
      <img id="logo-with-brand" src="./assets/brand/logo_with_brand.svg" alt="menu button icon" />
    </div>
    <div id="close-sidenav-button" matRipple (click)="sidenavService.toggleDisplayed()">
      <img id="close-button" src="./assets/icons/close.svg" alt="close button icon" class="svg-current-color mx-0" />
    </div>
  </div>
  <nav class="sidenav-content">
    <app-sidenav-link-list [linkList]="navLinks"></app-sidenav-link-list>
    <hr>
    <img style="height:25px; align-self: flex-start; margin-left:8px; margin-bottom: 14px;" src="./assets/brand/logo_with_brand_white.svg"
      alt="">
    <app-sidenav-link-list [linkList]="footerLinks"></app-sidenav-link-list>
    <hr>
    <div class="flex justify-around gap-1 mb-6">
      <app-language-selector></app-language-selector>
    </div>
  </nav>
</app-side-menu>
