@import "/src/app/theming/breakpoints";

app-side-menu {
  header {
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;

    #close-sidenav-button {
      border-radius: 0.25rem;
      cursor: pointer;
      -webkit-user-select: none;
      user-select: none;
      padding: 0.5rem;

      #close-button {
        width: 17px;
        height: 17px;
        border-radius: 50%;
        cursor: pointer;
      }
    }

  }

  nav {
    display: flex;
    flex-direction: column;
    height: 100%;

    hr {
      margin-top: 20px;
      margin-bottom: 20px;

      &:first-of-type {
        margin-top: auto;
      }

      opacity: 0.2;
    }

    img {
      height: 25px;
      align-self: flex-start;
      margin-left: 8px;
      margin-bottom: 14px;
    }
  }

  .version {
    color: #ffffff88;
    font-size: 0.8rem;
  }
}

@media screen and (max-width: $large-screen) {
  #close-sidenav-button {
    display: none;
  }
}
