<!-- Filter container -->
<div id="filter-container">
  <form>
    <!-- @TODO Future search bar -->
    <input disabled type="test" label="searchMap"
      placeholder="Search for a map">
    <!-- Open filter button -->
    <button type="button" id="filter-button" matRipple (click)="displayFilter = !displayFilter">
      <img src="./assets/icons/filter.svg" class="svg-current-color" alt="filter image">
      <span i18n="@@map-filter">Filter</span>
    </button>
  </form>
  <!-- Filters -->
  <app-tag-displayer [rtl]="true" [saveFilterId]="'mapFilter'" [displayed]="displayFilter"
    [tagList]="(mapTagList$ | async) ?? []" [tagGroupList]="(tagGroupList$ | async) ?? []"
    (currentTagList)="currentTagListHandler($event)"></app-tag-displayer>
</div>

<!-- @TODO temporary simplification -->
<ng-container *ngFor="let map of mapList$ | async">
  <article app-map-tile  [map]="map"></article>
</ng-container>
