:host{
    @apply mx-auto mb-2;
    display: flex;
    flex-direction: column;
    flex : 1 0 auto;
    width: 100%;
    max-width: min(1392px, 100vw);
    z-index: 1;
    #filter-container{
        @apply m-4;
        display: flex;
        flex-direction: column;
        align-items: stretch;

        -webkit-user-select: none;
        user-select: none;
        
        #filter-button{
            @apply p-2 gap-1 rounded ;
            border: 1px solid #88888830;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            cursor: pointer;
            span{
                display: flex;
                align-items: center;
            }
        }
    }
    #map-tiles-container{
        @apply mx-4 gap-8;
        display: flex;
        flex-wrap: wrap;
        .map-tiles-category-container{
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            gap: 0.5rem;
            p{
                @apply font-medium;
                text-transform: uppercase;
            }
        }
    }
}