<!-- Filter container -->
<div id="filter-container">
  <form>
    <!-- @TODO Future search bar -->
    <input disabled type="test" label="searchMap"
      placeholder="Search for a map">
    <!-- Open filter button -->
    <button type="button" id="filter-button" matRipple (click)="displayFilter = !displayFilter">
      <img src="./assets/icons/filter.svg" class="svg-current-color" alt="filter image">
      <span i18n="@@map-filter">Filter</span>
    </button>
  </form>
  <!-- Filters -->
  <app-tag-displayer [rtl]="true" [saveFilterId]="'mapFilter'" [displayed]="displayFilter"
    [tagList]="(mapTagList$ | async) ?? []" [tagGroupList]="(tagGroupList$ | async) ?? []"
    (currentTagList)="currentTagListHandler($event)"></app-tag-displayer>
</div>

<!-- Map tiles container -->
<div id="map-tiles-container">
  <ng-container *ngFor="let tag of mapTagList$ | async">
    <div *ngIf="isTagFiltered(tag)" class="map-tiles-category-container">
      <span>{{ tag.displayName }}</span>
      <div *ngIf="tagHasMap(tag,(mapGroupList$ | async) ?? []) else noMapForTag" class="tag-group">
        <ng-container *ngFor="let entry of mapGroupList$ | async">
          <app-map-tile *ngIf="entryHasTag(entry,tag.id)" [mapGroup]="entry"
            [available]="entry.available"></app-map-tile>
        </ng-container>
      </div>
      <ng-template #noMapForTag>
        <span i18n="@@map-no-map-for-tag">No map for tag :</span><span>{{ tag.displayName }}</span>
      </ng-template>
    </div>
  </ng-container>
</div>
<app-map-generic></app-map-generic>
