<div class="flex gap-2">
  <svg data-v-20f285ec="" data-v-4d7a7e36="" width="19"  viewBox="0 0 19 23" xmlns="http://www.w3.org/2000/svg" (click)="displayThemeSelector = !displayThemeSelector">
    <path data-v-20f285ec="" d="m9 1.69 5.66 5.66a8 8 0 1 1-11.31 0L9 1.69Z" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
  </svg>
  Theme
</div>

<div *ngIf='displayThemeSelector' class="flex flex-col rounded p-1"   >
  <div (click)="setTheme('light')" class="theme-line flex gap-1 items-center" [ngClass]="{'bg-violetta-theme selected': currentTheme === 'light'}">
    <div class="h-8 w-8 bg-light-theme rounded-full "></div>
    <span  mat-button class="text-current-color text-xl">Light</span>
  </div>
  <div (click)="setTheme('default')" class="theme-line flex gap-1 items-center" [ngClass]="{'bg-violetta-theme': currentTheme === 'default'}" >
    <div class="h-8 w-8 bg-default-theme rounded-full "></div>
    <span  mat-button class="text-current-color text-xl">Default</span>
  </div>
  <div (click)="setTheme('dark')" class="theme-line flex gap-1 items-center" [ngClass]="{'bg-violetta-theme selected': currentTheme === 'dark'}">
    <div class="h-8 w-8 bg-dark-theme rounded-full "></div>
    <span class="text-current-color text-xl">Dark</span>
  </div>
  
</div>