:host{
    @apply relative;
    @apply cursor-pointer;
    @apply select-none;
    flex-grow : 1;
    .proposition-line{
        @apply  flex gap-2 items-center;
        @apply rounded;
        @apply p-2;
        .color-indicator{
            @apply h-6 w-6 rounded-full;
        }
        &.selected{
            span{
                @apply text-white;
            }
        }
    }
    #proposition-container{
        overflow-y: auto;
        @apply absolute flex flex-col rounded w-full;
        background-color: var(--dark-background);
    }
}