:host {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    max-width: 1500px;
    margin: 0 auto;
    flex-direction: column;
    .first-container {
        display: flex;
    }
}

@media only screen and (max-width: 1300px) {
     :host {}
}