:host {
    width: 100%;
    height: 70vh;
    overflow: auto;
    /* width */
    &::-webkit-scrollbar {
        width: 20px;
    }
    /* Track */
    &::-webkit-scrollbar-track {
        background-color: #424242;
    }
    /* Handle */
    &::-webkit-scrollbar-thumb {
        border-radius: 100px;
        background-image: linear-gradient(180deg, #d0368a 0%, #708ad4 99%);
        box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
    }
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        //background: #555;
    }
    table {
        width: 100%;
        .mat-column-numero-position {}
        .mat-column-region-position {}
        .mat-column-departement-position {}
        .mat-column-logo-position {}
    }
}