<table mat-table [dataSource]="dataSource" class="area-table" multiTemplateDataRows>

    <ng-container matColumnDef="numero">
        <th mat-header-cell *matHeaderCellDef> N° </th>
        <td mat-cell *matCellDef="let element"> {{element.num}} </td>
    </ng-container>

    <ng-container matColumnDef="departement">
        <th mat-header-cell *matHeaderCellDef> Département </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>


    <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
            <div class="element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">

                <div class="element-description">
                    <h3>Région</h3>
                    <p>{{element.zone.name}}</p>
                </div>
                <div class="element-description">
                    <h3>Logo</h3>
                    <img src="https://www.regions-et-departements.fr/images/logos-departements/thumbs/{{element.num}}-logo-{{replaceSpecialChars(element.name)}}.png">
                </div>
            </div>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>

    <tr mat-row *matRowDef="let element; columns: displayedColumns;" id="element-{{element.num}}" class="element-row" [class.expanded-row]="expandedElement === element" [class.is-row-visible]="isRowVisible(element.num)" (click)="expandedElement = expandedElement === element ? null : element"></tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" [class.expanded-row]="expandedElement" class="detail-row" [class.is-row-visible]='isRowVisible(row.num)' [class.is-row-colored]='isRowColored(row.num)'></tr>


</table>