:host {
    max-height: 80vh;
    overflow: auto;
    /* width */
    &::-webkit-scrollbar {
        width: 20px;
    }
    /* Track */
    &::-webkit-scrollbar-track {
        background-color: #424242;
        width: 20px;
        padding: 0 2px;
    }
    /* Handle */
    &::-webkit-scrollbar-thumb {
        border-radius: 100px;
        width: 15px;
        background-color: #808080;
    }
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        //background: #555;
    }
    table {
        td {
            cursor: pointer;
        }
        .mat-column-numero {
            min-width: 2rem;
        }
        tr {
            &.detail-row {
                height: 0;
                background-color: #c2d7e0;
                td {
                    .element-detail {
                        overflow: hidden;
                        display: flex;
                        flex-direction: column;
                        .element-description {
                            padding: 16px 0;
                            display: flex;
                            h3 {
                                color: #215e7b;
                                font-weight: 500;
                                width: 3rem;
                                margin: auto 2rem auto 0;
                            }
                            p {
                                color: rgba(50, 50, 50, 0.7);
                                margin: auto 0;
                            }
                            img {
                                max-height: 3rem;
                                max-width: 7rem;
                                align-self: center;
                                object-fit: contain;
                            }
                        }
                    }
                }
            }
            &.element-row {
                &:not(.expanded-row) {
                    &:hover {
                        background: #347b98;
                    }
                    &:active {
                        background: #215e7b;
                    }
                }
                &.expanded-row {
                    background: #347b98;
                }
            }
            &.element-row {
                td {
                    border-bottom-width: 0;
                }
            }
        }
    }
}