:host {
    width: 100%;
    min-height: 10rem;
    max-height: 60vh;
    overflow: auto;
    scroll-behavior: smooth;
    /* width */
    &::-webkit-scrollbar {
        width: 20px;
    }
    /* Track */
    &::-webkit-scrollbar-track {
        background-color: rgba(66, 66, 66, 0.1);
        width: 20px;
        padding-left: 2px;
        padding-right: 2px;
        padding-top: 1rem;
    }
    /* Handle */
    &::-webkit-scrollbar-thumb {
        border-radius: 100px;
        width: 15px;
        background-color: #808080;
    }
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        //background: #555;
    }
    table {
        width: 100%;
        .mat-column-numero {
            min-width: 2rem;
        }
        tr {
            td {
                cursor: pointer;
            }
            &.detail-row {
                height: 0;
                background-color: #c2d7e0;
                td {
                    .element-detail {
                        overflow: hidden;
                        display: flex;
                        flex-direction: column;
                        .element-description {
                            padding: 16px 0;
                            display: flex;
                            h3 {
                                color: #215e7b;
                                font-weight: 500;
                                width: 3rem;
                                margin: auto 2rem auto 0;
                            }
                            p {
                                color: rgba(50, 50, 50, 0.7);
                                margin: auto 0;
                            }
                            img {
                                max-height: 3rem;
                                max-width: 7rem;
                                align-self: center;
                                object-fit: contain;
                            }
                        }
                    }
                }
                &:not(.is-row-colored) {
                    transition: background-color 225ms cubic-bezier(0.4, 0.0, 0.2, 1);
                    background-color: unset;
                }
                &.is-row-colored {
                    background-color: '#c2d7e0'
                }
            }
            &.element-row {
                td {
                    border-bottom-width: 0;
                }
                &:not(.expanded-row) {
                    &:hover {
                        background: #347b98;
                    }
                    &:active {
                        background: #215e7b;
                    }
                }
                &.expanded-row {
                    background: #347b98;
                }
                &:not(.is-row-visible) {
                    visibility: hidden;
                }
            }
        }
    }
}