@use '../../../theming/customMixins' as customMixins;

@mixin slide($name, $dir, $ox, $tx) {
  @keyframes slide-#{$name} {
    0% {
      margin-#{$dir}: $ox;
    }

    100% {
      margin-#{$dir}: $tx;
    }
  }
}

@mixin bs($name, $offsetx, $offsety, $blurradius, $spreadradius, $color ) {
  @keyframes #{$name}-bs {
    0% {
      box-shadow: unset;
    }

    100% {
      box-shadow: $offsetx $offsety $blurradius $spreadradius $color ;
    }
  }
}

@include bs(sidemenu, 1px, 0px, 10px, 3px, #00000080);

:host {
  flex: 0 0 auto;
  z-index: 1000;
  top: 0;
  height: 100vh;
  @include customMixins.scrollbar('.side-menu-container', false);

  .side-menu-container {
    @apply px-6;
    display: flex;
    flex-direction: column;
    position: sticky;
    height: 100%;
    width: 244px;
    flex: 0 0 auto;
  }

  &.sticky {
    position: sticky;
  }

  &.fixed {
    position: fixed;

    .side-nav-container {
      opacity: 1;
    }

    #mobile-responsive-sidemenu {
      height: 100%;
      top: 0;
      left: 244px;
      width: calc(100vw - 244px);
      opacity: 0.6;
      background-color: #000000;
      position: fixed;
    }

    @keyframes appear {
      0% {
        opacity: 0;
      }

      100% {
        opacity: 0.6;
      }
    }
  }

  &.left {
    left: 0 !important;

    .backdrop-show {
      @include slide(backdrop-show-left, left, 75vw, 0);
      animation: slide-backdrop-show-left 0.2s ease-in-out forwards,
    }

    .slide-sidemenu-show {
      @include slide(sidemenu-show-left, left, -244px, 0px);
      animation: slide-sidemenu-show-left 0.2s ease-in-out forwards,
        sidemenu-bs 0.2s ease-in-out forwards;
    }

    .slide-sidemenu-hide {
      @include slide(sidemenu-hide-left, left, 0px, -244px);
      animation: slide-sidemenu-hide-left 0.2s ease-in-out forwards;
    }
  }

  &.right {
    right: 0 !important;

    .backdrop-show {
      right: 244px !important;
      left: unset !important;
      @include slide(backdrop-show-right, right, 75vw, 0);
      animation: slide-backdrop-show-right 0.2s ease-in-out forwards,
    }

    .slide-sidemenu-show {
      @include slide(sidemenu-show-right, right, -244px, 0px);
      animation: slide-sidemenu-show-right 0.2s ease-in-out forwards,
        sidemenu-bs 0.2s ease-in-out forwards;
    }

    .slide-sidemenu-hide {
      @include slide(sidemenu-hide-right, right, 0px, -244px);
      animation: slide-sidemenu-hide-right 0.2s ease-in-out forwards;
    }
  }
}


/* if backdrop support: blurred */
@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  :host {
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
  }

}

/* else */
@supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  :host {
    background-color: var(--dark-background);
  }
}
