<div class="container">
    <div class="top-left-sidenav">
        <mat-card>
            <mat-card-title>{{ gameModeMetadata.game_mode_name }}</mat-card-title>
            <mat-card-subtitle *ngIf="gameModeMetadata.game_mode_rules">{{ gameModeMetadata.game_mode_rules }}</mat-card-subtitle>
        </mat-card>
    </div>
    <div class="header">
        <mat-card>
            <mat-card-title> {{ mapMetaData.map_country }} - {{ mapMetaData.map_name }}</mat-card-title>
            <mat-card-subtitle *ngIf="mapMetaData.map_details">{{ mapMetaData.map_details }}</mat-card-subtitle>
        </mat-card>
    </div>

    <div class="left-sidenav">
        <app-area-table [inGameMode]="false"></app-area-table>
    </div>

    <div class="main">
        <app-map [map]="selectedMap" [clickArea]="true"></app-map>
    </div>
</div>