:host {
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
  flex-grow: 1;
  max-width: 30rem;
  height: 10rem;
  width: 15rem;
  background-blend-mode: multiply;
  transition: box-shadow 0.3s ease-in-out;

  .thumbnail-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    -webkit-mask-image: linear-gradient(to bottom left, black, 15%, transparent);
    mask-image: linear-gradient(to bottom left, black, 15%, transparent);

    img {
      margin: 0;
      position: absolute;
      image-rendering: pixelated;
      top: 0;
      right: 0;
      width: auto;
      height: auto;
      transform: translate(25%, -10%) rotate(-5deg);
      max-width: 20rem;
      min-height: 13rem;
    }
  }

  span {
    margin: 0 0.5rem 1rem 0.5rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 100;
    margin-top: auto;
    opacity: 1;
  }

  .map-tile-not-available {
    font-size: 1.125rem;
    line-height: 1.75rem;
    background: #0000008f;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: absolute;
  }

  &:not(.not-available) {
    box-shadow: 0px 0px 3px 1px #8888882f;
    border: 1px solid #88888830;
  }

  &:not(.not-available):hover {
    box-shadow: 0px 0px 10px 2px #888888;
  }
}
