@import "../../../theming/gradients";

:host {
  overflow: hidden;
  flex-shrink: 0;

  width: 330px;
  min-height: 160px;

  border-radius: 10px;

  a,
  h1 {
    font-family: 'Outfit';
    font-style: normal;

    align-items: center;

    margin-top: 0.6rem;
    margin-left: 0.8rem;

    gap: 0.5rem;
  }

  h1 {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 98%;

    display: flex;

    span {
      width: 270px;

      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden
    }

    img {
      height: 1.1rem;

      border-radius: 0.15rem;
    }
  }

  a {
    font-size: 1.15rem;
    line-height: 1.3rem;

    display: inline-flex;

    margin-bottom: 0.6rem;
    padding: 4px 25px;

    cursor: pointer;
    user-select: none;

    border: 1px solid white;
    border-radius: 10px;

    img {
      display: inline;

      height: 1rem;

      filter: brightness(100);
    }

    &:hover {
      font-weight: 600;

      background-color: white;

      span {
        color: transparent;
        background-image: $gradient-candy;
        -webkit-background-clip: text;
        background-clip: text;
      }

      img {
        filter: unset;
      }
    }
  }
}
