:host {
    display: flex;
    align-items: center;
    grid-gap: 0.5rem;
    gap: 0.5rem;
    border-radius: 0.5rem;
    #main-button {
        display: flex;
        align-items: center;
        grid-gap: 0.5rem;
        gap: 0.5rem;
        border-radius: 0.5rem;
        app-logo {
            width: 2.5rem;
            display: flex;
        }
    }
    mat-icon {
        padding: 0.5rem;
        border-radius: 50%;
    }
}