@use 'sass:map';
@use '~@angular/material' as mat;
@mixin color($theme) {
    $color-config: mat.get-color-config($theme);
    $background-palette: map.get($color-config, 'background');
    $foreground-palette: map.get($color-config, 'foreground');
    & {
        background-color: mat.get-color-from-palette($background-palette, 'background');
        color: mat.get-color-from-palette($foreground-palette, 'text');
    }
}

@mixin typography($theme) {
    // Get the typography config from the theme.
    $typography-config: mat.get-typography-config($theme);
    & {
        font-family: mat.font-family($typography-config);
    }
}

@mixin theme($theme) {
    $color-config: mat.get-color-config($theme);
    @if $color-config !=null {
        @include color($theme);
    }
    $typography-config: mat.get-typography-config($theme);
    @if $typography-config !=null {
        @include typography($theme);
    }
}