@use "@angular/material" as mat;
@use "app/theming" as app;
@use "sass:map";
@use "app/theming/_customMixins" as customMixins;

@include mat.core();

$app-primary: mat.define-palette(mat.$indigo-palette);
$app-accent: mat.define-palette(mat.$pink-palette);

// Use your own "app" define-light-theme function instead of "mat" one.
$app-theme: app.define-light-theme((color: (primary: $app-primary, accent: $app-accent)));

@tailwind base;
@tailwind components;
@tailwind utilities;

$svg-invert-white: 1;
$svg-sepia-white: 0.64;
$svg-invert-white: 1;
$svg-invert-white: 1;
$svg-invert-white: 1;
$svg-invert-white: 1;


:root {
  pointer-events: all;

  --theme-dark-background-light: #243b55;
  --theme-dark-background-dark: #141e30;
  --theme-dark-text-color: #ffffff;

  --violetta-primary: #be2d0d;
  --violetta-secondary: #4e3498;

  --candy-primary: #f7a2e4;
  --candy-secondary: #fccb1a;

  --land-stroke: 0.4px;


  --color-scheme: dark;
  --light-background: var(--theme-dark-background-light);
  --dark-background: var(--theme-dark-background-dark);
  --current-color: var(--theme-dark-text-color);

  /* SVG related */
  --svg-invert: 100%;
  --svg-sepia: 64%;
  --svg-saturate: 2%;
  --svg-hue-rotate: 3deg;
  --svg-brightness: 104%;
  --svg-contrast: 101%;

  /* Map related */
  --map-land: #80808033;
  --map-land-stroke: #ffffffff;
  --map-land-found: #347b98ff;
  --map-land-selected: #fdfdfdff;
  --map-group-selected: #fdfdfd4f;
  --map-land-error: #be2d0dff;
  --map-land-won: #fccb1aff;
}


html,
body {
  height: 100vh;
  max-height: -webkit-fill-available;
}

html {
  &.cdk-global-scrollblock {
    position: static;
    overflow-y: hidden;
  }

  color: var(--current-color);
  color-scheme: var(--color-scheme);

  body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }
}

.current-bg-color {
  background-image: linear-gradient(180deg,
      var(--dark-background) 0%,
      var(--light-background) 100%);
  background-color: var(--light-background);
}

.bg-dark-theme {
  background-image: linear-gradient(180deg,
      var(--theme-dark-background-dark) 0%,
      var(--theme-dark-background-light) 100%);
}

.bg-candy-theme,
.bg-candy-theme-text {
  background-image: linear-gradient(225deg,
      var(--candy-primary) 0%,
      var(--candy-secondary) 100%);
}

.bg-violetta-theme,
.bg-violetta-theme-text {
  background-image: linear-gradient(45deg,
      var(--violetta-primary) 0%,
      var(--violetta-secondary) 100%);
}

.bg-candy-theme-text,
.bg-violetta-theme-text {
  text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
}

.bg-dark {
  background-color: var(--dark-background);
}

.bg-light {
  background-color: var(--light-background);
}

.candy-text-color,
.violetta-text-color {
  -webkit-text-fill-color: transparent;
}

.candy-text-color {
  @apply bg-candy-theme;
  -webkit-background-clip: text;
  background-clip: text;
}

.violetta-text-color {
  @apply bg-violetta-theme;
  -webkit-background-clip: text;
  background-clip: text;
}

#app-background {
  position: fixed;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
}

@include customMixins.scrollbar('custom-scrollbar', false);

/*removes highlighting on tap on mobile devices*/
* {
  -webkit-tap-highlight-color: transparent;
}

/* Disable image drag*/
img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}


.error,
.won,
.found,
.selected {
  .zone {
    stroke-width: calc(var(--land-stroke) * 5);
  }
}


.error {
  fill: var(--map-land-error);
  background-color: var(--map-error);

  .zone {
    stroke: var(--map-land-error);
  }
}

.won {
  fill: var(--map-land-won);
  background-color: var(--map-won);

  .zone {
    stroke: var(--map-land-won);
  }
}

.separator {
  fill: none;
  stroke: white;
}

.zone {
  fill: transparent;
  stroke-dasharray: 3px;
}

.land {
  fill: var(--map-land);
  background-color: var(--map-land);
}

.land,
.zone {
  stroke: white;
  stroke-width: var(--land-stroke);
}

.found {

  &,
  .land {
    fill: var(--map-land-found);
    background-color: var(--map-land-found);
  }

  .zone {
    stroke: var(--map-land-found);
  }
}

.selected {

  &,
  .land {
    fill: var(--map-land-selected);
    background-color: var(--map-land-selected);
  }

  .zone {
    stroke: var(--map-land-selected);
  }
}



.group-selected {
  &.land {
    stroke-width: calc(var(--land-stroke) * 3);
  }

  &.land:not(.found) {
    fill: var(--map-group-selected);
    background-color: var(--map-land-selected);
  }

  &.zone {
    stroke-width: calc(var(--land-stroke) * 3);
  }
}


// Material overrides
mat-dialog-container {
  background-color: var(--dark-background) !important;
}

mat-option,
mat-optgroup span {
  background-color: var(--dark-background) !important;
}

mat-option:hover,
mat-option span:hover,
mat-select {
  background-color: var(--light-background) !important;
}

mat-dialog-container,
.mat-select-panel {
  box-shadow: 0 0 5px 1px #AAAAAA61;
}

.mat-ripple-element {
  background-color: #FFFFFF60;
}

.mat-expansion-panel-body {
  padding: 0.25rem 0.5rem !important;
  border-left: 1px #ffffff11 solid;
  border-right: 1px #ffffff11 solid;
  border-bottom: 1px #ffffff11 solid;
  border-radius: 0 0 0.5rem 0.5rem;
}

.mat-expansion-panel-header {
  border-end-end-radius: 0 !important;
  border-end-start-radius: 0 !important;
}


.mat-snack-bar-container {
  background-color: var(--light-background) !important;

  &.error {
    background-color: var(--map-land-error) !important;
  }
}

@include customMixins.scrollbar('.mat-select-panel', true);
@include customMixins.scrollbar('.custom-scrollbar', true);
