<div class="header">
    <h1>{{ mapMetaData.map_name }}</h1>
    <sub>{{ mapMetaData.map_details }}</sub>
</div>
<div class="top-right-sidenav">
</div>
<div class="right-sidenav">
    <app-area-table [inGameMode]="true"></app-area-table>
</div>
<div class="bottom-right-sidenav">
</div>
<div class="top-left-sidenav">
</div>
<div class="left-sidenav">

</div>
<div class="bottom-left-sidenav">
</div>

<div class="main">
    <app-map-departements-francais *ngIf="isConfiguredMap(MapsType.DEPARTEMENTS_FRANCAIS)"></app-map-departements-francais>
    <app-map-departements-francais *ngIf="isConfiguredMap(MapsType.PREFECTURES_JAPON)"></app-map-departements-francais>
</div>
<div class="footer">
    <app-find-area fill_color="#347b98"></app-find-area>
</div>