<div class="header">
    <h1>

    </h1>
</div>
<div class="right-sidenav">
    <app-area-table></app-area-table>
</div>
<div class="left-sidenav">

</div>

<div class="main">
    <app-map-departements-francais *ngIf="isConfiguredMap(MapsType.DEPARTEMENTS_FRANCAIS)"></app-map-departements-francais>
    <app-map-departements-francais *ngIf="isConfiguredMap(MapsType.PREFECTURES_JAPON)"></app-map-departements-francais>
</div>
<div class="footer">
    <app-find-area fill_color="#347b98"></app-find-area>
</div>