:host {
    display: grid;
    grid-column-gap: 3rem;
    grid-template-areas: 'top-left-sidenav header top-right-sidenav' 'left-sidenav main right-sidenav' 'bottom-left-sidenav footer bottom-right-sidenav';
    grid-template-columns: 22rem auto 22rem;
    grid-template-rows: 8rem auto 5rem;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 3rem;
    .top-left-sidenav {
        grid-area: top-left-sidenav;
    }
    .header {
        grid-area: header;
    }
    .top-right-sidenav {
        grid-area: top-right-sidenav;
    }
    .left-sidenav {
        grid-area: left-sidenav;
        gap : 1rem;
        mat-card-content {
            display: flex;
            justify-content: space-around;
            gap:1rem;
        }
    }
    .main {
        grid-area: main;
        min-width: 500px;
        max-height: 60vh;
    }
    .right-sidenav {
        grid-area: right-sidenav;
    }
    .bottom-left-sidenav {
        grid-area: bottom-left-sidenav;
    }
    .footer {
        grid-area: footer;
    }
    .bottom-right-sidenav {
        grid-area: bottom-right-sidenav;
    }
    .header,
    .top-left-sidenav,
    .top-right-sidenav {
        justify-content: center;
        text-align: center;
        h1 {
            margin: 0;
        }
        sub {
            color: rgb(150, 150, 150);
        }
    }
    .left-sidenav,
    .right-sidenav,
    .main,
    .footer {
        align-items: center;
    }
    .header,
    .top-left-sidenav,
    .top-right-sidenav,
    .left-sidenav,
    .right-sidenav,
    .main,
    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .top-left-sidenav,
    .top-right-sidenav,
    .left-sidenav,
    .right-sidenav,
    .bottom-left-sidenav,
    .bottom-right-sidenav {
        mat-card {
            width: 100%;
        }
    }
}

@media only screen and (max-width: 1000px) {
     :host {
        grid-template-areas: 'header right-sidenav' 'main right-sidenav' ' main right-sidenav' 'footer left-sidenav';
        grid-template-columns: auto 30vw;
        grid-template-rows: 5rem auto auto 8rem;
    }
}