<div class="top-left-sidenav">
    <mat-card>
        <mat-card-title>{{ gameModeMetadata.game_mode_name }}</mat-card-title>
        <mat-card-subtitle>{{ gameModeMetadata.game_mode_rules }}</mat-card-subtitle>
    </mat-card>
</div>
<div class="header">
    <mat-card>
        <mat-card-title>{{ mapMetaData.map_name }}</mat-card-title>
        <mat-card-subtitle>{{ mapMetaData.map_details }}</mat-card-subtitle>
    </mat-card>
</div>
<div class="top-right-sidenav">
</div>
<div class="left-sidenav">
    <mat-card>
        <mat-card-content>
            <app-timer [upperBound]="300"></app-timer>
            <app-progress-tracker></app-progress-tracker>
        </mat-card-content>
    </mat-card>
</div>
<div class="main">
    <app-map-departements-francais *ngIf="isConfiguredMap(MapsType.MAP_DEPARTEMENTS_FRANCE)"></app-map-departements-francais>
    <app-map-departements-francais *ngIf="isConfiguredMap(MapsType.MAP_PREFECTURES_JAPON)"></app-map-departements-francais>
</div>
<div class="right-sidenav">
    <app-area-table [inGameMode]="true"></app-area-table>
</div>
<div class="bottom-left-sidenav">
</div>
<div class="footer">
    <app-find-area fill_color="#347b98"></app-find-area>
</div>
<div class="bottom-right-sidenav">
</div>