:host {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    gap: 1rem;
    padding: 0 1rem;
    position: relative;
    .slide {
        position: absolute;
        animation-timing-function: ease-in-out;
        z-index: 1000;
        &.slide-in {
            animation: slide-in 1s forwards;
        }
        &.slide-out {
            animation: slide-out 1s forwards;
        }
        @keyframes slide-in {
            0% {
                transform: translateY(-100%);
            }
            100% {
                transform: translateY(0%);
            }
        }
        @keyframes slide-out {
            0% {
                transform: translateY(0%);
            }
            100% {
                transform: translateY(-100%);
            }
        }
    }
}