<ng-container *ngIf="loadedMap !== undefined; else loading">
  <div class="flex gap-2 justify-center">
    <button class="p-2 bg-gray" (click)="scaleDown()">-</button>
    <button class="p-2 bg-gray" (click)="scaleUp()">+</button>
  </div>
  <div>
    <svg #mapRef [attr.xlmns]="loadedMap.xlmns" attr.viewBox="{{ loadedMap.viewBox.x }} {{ loadedMap.viewBox.y }} {{
      loadedMap.viewBox.width
    }} {{ loadedMap.viewBox.height }}" class="test mx-auto" [class.panning]="mouseStates.isPanned"
    (wheel)="wheelEvent($event)" (mousedown)="pointerDown($event)" (pointerdown)="pointerDown($event)"
    (mouseup)="pointerUp($event)" (pointerup)="pointerUp($event)" (mouseleave)="pointerUp($event)"
    (pointerleave)="pointerUp($event)" (mousemove)="pointerMove($event)" (pointermove)="pointerMove($event)">
      <g #groupRef>
        <path *ngFor="let path of loadedMap.contentPath" id="{{ path.id }}" (click)="areaClick($event)"
          class="{{ path.class }}" [attr.d]="path.d" />
        <g *ngFor="let groupe of loadedMap.contentGroupe" id="{{ groupe.id }}" (click)="areaClick($event)"
          class="{{ groupe.class }}">
          <path *ngFor="let groupePath of groupe.contentPath" id="{{ groupePath.id }}" (click)="areaClick($event)"
            class="{{ groupePath.class }}" [attr.d]="groupePath.d" />
        </g>
      </g>
    </svg>
  </div>
  
</ng-container>

<ng-template #loading>
  <div id="loading"></div>
</ng-template>