<app-map *ngIf="!displaySelection" [table]="true" [map]="mapType" [gameModeType]="gameModeType"></app-map>
<ng-container *ngIf="displaySelection">
    <h1>- Choix de la carte et du mode de jeu -</h1>
    <div class="selection-container">
        <div class="table-container">
            <table mat-table [dataSource]="GameModeType.GAME_LIST" class="mat-elevation-z8">
                <ng-container matColumnDef="radio">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let row">
                        <mat-radio-group [(ngModel)]="selectedGameMode">
                            <mat-radio-button [value]="row"></mat-radio-button>
                        </mat-radio-group>
                    </td>
                </ng-container>
                <ng-container matColumnDef="game_mode">
                    <th mat-header-cell *matHeaderCellDef> Carte </th>
                    <td mat-cell *matCellDef="let gameModeType"> {{gameModeType.game_mode_name}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectedGameMode = row"></tr>
            </table>
        </div>
        <div class="table-container">
            <table mat-table [dataSource]="MapsType.MAPS_LIST" class="mat-elevation-z8">
                <ng-container matColumnDef="radio">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let row">
                        <mat-radio-group [(ngModel)]="selectedMap">
                            <mat-radio-button [value]="row"></mat-radio-button>
                        </mat-radio-group>
                    </td>
                </ng-container>
                <ng-container matColumnDef="game_mode">
                    <th mat-header-cell *matHeaderCellDef> Mode de jeu </th>
                    <td mat-cell *matCellDef="let mapMetaData"> {{ mapMetaData.map_country }} - {{ mapMetaData.map_name }} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectedMap = row"></tr>
            </table>
        </div>
    </div>
    <button mat-raised-button color="primary" [routerLink]="['/maps']" [queryParams]="{ map : selectedMap.map_identifier, game: selectedGameMode.game_mode_identifier }">Lancer &gt;</button>

</ng-container>