<h1>- <ng-container i18n="@@map-page-choose-map-and-gamemode">Choice of the map and game mode</ng-container> -</h1>
<div class="selection-container">
    <div class="table-container">
        <table mat-table [dataSource]="MapsType.MAPS_LIST">
            <ng-container matColumnDef="radio">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let row">
                    <mat-radio-group [(ngModel)]="selectedMap">
                        <mat-radio-button [value]="row"></mat-radio-button>
                    </mat-radio-group>
                </td>
            </ng-container>
            <ng-container matColumnDef="visual">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let mapMetaData">
                    <div>
                        <app-map-departements-francais *ngIf="mapMetaData.map_identifier == 'MAP_DEPARTEMENTS_FRANCE'"></app-map-departements-francais>
                        <app-map-prefectures-japon *ngIf="mapMetaData.map_identifier == 'MAP_PREFECTURES_JAPON'"></app-map-prefectures-japon>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="choice">
                <th mat-header-cell *matHeaderCellDef><ng-container i18n="@@map">Map</ng-container></th>
                <td mat-cell *matCellDef="let mapMetaData"> {{ mapMetaData.map_country }} - {{ mapMetaData.map_name }} </td>
            </ng-container>
            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef><ng-container i18n="@@description">Description</ng-container></th>
                <td mat-cell *matCellDef="let mapMetaData"> {{ mapMetaData.map_details || "-" }} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectedMap = row"></tr>
        </table>
    </div>
    <div class="table-container">
        <table mat-table [dataSource]="GameModeType.GAME_LIST">
            <ng-container matColumnDef="radio">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let row">
                    <mat-radio-group [(ngModel)]="selectedGameMode">
                        <mat-radio-button [value]="row"></mat-radio-button>
                    </mat-radio-group>
                </td>
            </ng-container>
            <ng-container matColumnDef="visual">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let gameModeType">
                    <mat-icon>{{gameModeType.game_mode_mat_logo}}</mat-icon>
                </td>
            </ng-container>
            <ng-container matColumnDef="choice">
                <th mat-header-cell *matHeaderCellDef><ng-container i18n="@@gamemode">Game mode</ng-container></th>
                <td mat-cell *matCellDef="let gameModeType">
                    <div>
                        {{gameModeType.game_mode_name}}
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef><ng-container i18n="@@description">Description</ng-container></th>
                <td mat-cell *matCellDef="let gameModeType"> {{ gameModeType.game_mode_rules || "-" }} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectedGameMode = row"></tr>
        </table>
    </div>
</div>
<button mat-raised-button color="primary" [routerLink]="['games/', selectedGameMode.game_mode_identifier ]" [queryParams]="{ map : selectedMap.map_identifier }"><ng-container i18n="@@launch">Launch</ng-container> &gt;</button>