:host{
    position: relative;
    cursor: pointer;
    -webkit-user-select:none;
    user-select: none;
    flex-grow : 1;
    .proposition-line{
        @apply  gap-2 p-2 rounded;
        display: flex;
        align-items: center;
        span{
            text-transform: uppercase;
        }
        &.selected{
            @apply text-white;
        }
    }
    #proposition-container{
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 100%;
        bottom: 100%;
        background-color: var(--dark-background);
        @apply rounded;
    }
}